* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 20px 30px;
   background-color: rosybrown;

}
header h1 {
    font-weight: bold;
    font-size: 26px;
    color: black;
    margin: 0;
    
}
header a {
    text-decoration: none;
    color: black;
}
header nav {  
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;

}
header nav ul li a {
    margin: 0 30px;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}
footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: rosybrown;
    width: 100%;
    padding: 20px 15px;
}
footer h4 {
    color: black;
    font-size: 20px;
    margin: 0;
}
footer div {
    line-height: 1.5;
    text-align: right;
    color: black
}
.profile {
    text-align: center;
    padding-bottom: 30px;
}
.content {
    width: 100%;
    margin-right: 30px;
    margin-left: 10px;
}

.about-me  {
    color:black;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    padding-bottom: 30px; 
}
.about-me p {
    padding: 15px 15px 15px 60px;
    font-size: 12pt;
}

.contact, .contact ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    gap: 150px;
    list-style: none;
    width: 100%;
}
.flex-container {  
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px 30px 30px 15px;
}
.projects {  
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;   
}
.first-phrase {
    position: absolute;
    padding-left: 100px;
    font-size: 16pt; 
}
.second-phrase {
    position: absolute;
    padding-left: 10px;
    font-size: 12pt;  
}
.third-phrase {
    position: absolute;
    padding-left: 60px;
    font-size: 12pt;
}
.project-image {
    width: 200px;   
}
.project-image-first {
    width: 300px;   
}
.text {
    padding-left: 20px;
}
/*MEDIA QUERY FOR SMALLER DESKTOP SCREEN AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
    footer h4, footer div {
        text-align: center;
        width: 100%;
    }
    body {
        overflow-x: hidden;
    }
    .about-me p {
        padding: 0px 15px 15px 60px;
    }
    .flex-container {
        padding: 0px 0px 50px 0px;

    }
    .contact, .contact ul {
        gap: 100px;
    }
}

/*MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .flex-container {
        padding: 0px 10px 50px 50px;
    }
    .contact, .contact ul {
        gap: 50px;
    }

}
/*MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    body {
        overflow-x: hidden;
    }
    .project-image-first {  
       flex: 2 100%;
        text-align: center;
        justify-content: center;
        padding-bottom: 15px;
    }
    .project-image {

    }
    .contact, .contact ul {
        gap: 10%;
    }
}
    

